<!--=======navbar for the product page start=========-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <strong>Redgini</strong>
  </a>
  <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p class="navbar_lines"><i class="fa fa-check" aria-hidden="true"></i> 100% Genuine & fresh Products</p>
      </li>
      <li class="nav-item">
        <p class="navbar_lines"><i class="fa fa-shield" aria-hidden="true"></i> Secure Payments</p>
      </li>
      <li class="nav-item">
        <p class="navbar_lines"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Free delivery</p>
      </li>
    </ul>
  </div>
  <a href=<%= cart_path %> id="shop_cart_home" class="pull-right"><i class="fa fa-shopping-cart fa-2x hidden-sm-down" aria-hidden="true" id="shop_cart_home_icon"></i></a>
  <a class="btn btn-danger pull-right btn-sm hidden-sm-up" href=<%= cart_path %> id="cart_navbar"  data-toggle="" data-target="">
  Shopping cart</a>
  <% if !logged_in? %>
    <a class="btn btn-sm pull-right" href="#" id="signIn_navbar">Signup/Login</a>
  <% end %>
</nav>
<!--=======navbar for the product page end=========-->
