<!--===================searching city and place starts========================-->
<!--<div class="container" id="search_city_n_shop">
  <div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3 col-xs-4">
          <label>City</label>
          <select class="my_select" id="my_select_city">
              <option value="" disabled selected>Choose city</option>
              <option value="1">Nashik</option>
              <option value="2">Mumbai</option>
              <option value="3">Pune</option>
              <option value="4">Banglore</option>
              <option value="5">Delhi</option>
          </select>
      </div>

      <div class="col-md-6 col-xs-4">
            <label>Cake shop or cafe</label>
            <select class="my_select" id="my_select_shop">
              <option value="" disabled selected>Choose cake shop or cafe...</option>
              <option value="1">Oheo's virtual bakery</option>
              <option value="2">Monginis cake shop</option>
              <option value="3">Toccata</option>
              <option value="3">Puffs n rolls</option>
              <option value="3">The bake studio</option>
              <option value="3">Jahangirdar bakers</option>
              <option value="3">Baker's bounty</option>
            </select>
      </div>
      <div class="col-md-3 col-xs-4">
        <button type="button" name="button" class="btn btn-danger btn-md" style="font-weight:bold; font-size:12px;">search</button>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
  </div>
</div>-->

<hr>
<!--===================searching city and place ends===========================-->
