<!--=============sidebar and cake boxes styling starts============-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
       <div class="list-group" id="sidebar_cake_cat">
        <a href="" class="list-group-item disabled" id="sidebar_header"> Cake categories:</a>
        <a href="?category_id=all" class="list-group-item list-group-item-action sidebar_cake_cat_items">All</a>
        <% Category.all.each do |category| %>
          <a href="?category_id=<%= category.id %>" class="list-group-item list-group-item-action sidebar_cake_cat_items"><%= category.name %> cakes</a>
        <% end %>
      </div>
      <!-- <hr> -->

      <!--========Filters starts==================-->
      <!-- <div class="list-group">
        <form action="/products" method="get">
          <a class="list-group-item disabled" style="font-weight:bold; background-color:#e5e5e5;">Filters:</a>

          <a href="#weight_of_cake" class="list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false" aria-controls="weight_of_cake"
          ><h5 class="mb-0 filter_items">Weights: <i class="fa fa-angle-down rotate-icon"></i></h5>
          </a>

          <div class="collapse" id="weight_of_cake">
            <a class="list-group-item " javascript:void(0)><span><input id="0.5_kg"type="checkbox" name="weights[]" value="0.5"></span><label for="0.5_kg">&nbsp;&nbsp;&nbsp;0.5 kg</label></a>
            <a class="list-group-item " javascript:void(0)><span><input id="1_kg"type="checkbox" name="weights[]" value="1"></span><label for="1_kg">&nbsp;&nbsp;&nbsp;1.0 kg</label></a>
            <a class="list-group-item " javascript:void(0)><span><input id="2_kg"type="checkbox" name="weights[]" value="2"></span><label for="2_kg">&nbsp;&nbsp;&nbsp;2.0 kg</label></a>
            <a class="list-group-item " javascript:void(0)><span><input id="4_kg"type="checkbox" name="weights[]" value="4"></span><label for="4_kg">&nbsp;&nbsp;&nbsp;4.0 kg</label></a>
            <a class="list-group-item " javascript:void(0)><span><input id="5_kg"type="checkbox" name="weights[]" value="5"></span><label for="5_kg">&nbsp;&nbsp;&nbsp;5.0 kg</label></a>
          </div>
          <a href="#prices_of_cake" class="list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false" aria-controls="prices_of_cake"
          ><h5 class="mb-0 filter_items">Price range: <i class="fa fa-angle-down rotate-icon"></i></h5>
          </a>

          <div class="collapse" id="prices_of_cake">
            <a class="list-group-item" javascript:void(0)><span><input id="400_600"type="checkbox" name="price_ranges=[]" value="400-600"></span><label for="#400_600"></label>&nbsp;&nbsp;&nbsp;Rs.400-600/-</a>
            <a class="list-group-item" javascript:void(0)><span><input id="600_800"type="checkbox" name="price_ranges=[]" value="600-800"></span><label for="#600_800"></label>&nbsp;&nbsp;&nbsp;Rs.600-800/-</a>
            <a class="list-group-item" javascript:void(0)><span><input id="800_1000"type="checkbox" name="price_ranges=[]" value="800-1000"></span><label for="#800_1000"></label>&nbsp;&nbsp;&nbsp;Rs.800-1000/-</a>
            <a class="list-group-item" javascript:void(0)><span><input id="1000_1200"type="checkbox" name="price_ranges=[]" value="1000-1200"></span><label for="#1000_1200"></label>&nbsp;&nbsp;&nbsp;Rs.1000-1200/-</a>
            <a class="list-group-item" javascript:void(0)><span><input id="1200_1500"type="checkbox" name="price_ranges=[]" value="1200-1500"></span><label for="#1200_1500"></label>&nbsp;&nbsp;&nbsp;Rs.1200-1500/-</a>
          </div>
          <a href="#egg_eggless" class="list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false" aria-controls="egg_eggless"
          ><h5 class="mb-0 filter_items">Egg / Eggless: <i class="fa fa-angle-down rotate-icon"></i></h5>
          </a>

          <div class="collapse" id="egg_eggless">
            <a class="list-group-item " javascript:void(0)><span><input id="egg_cake" type="radio" name="eggless" value="false"></span><label for="#egg_cake">&nbsp;&nbsp;&nbsp;</label>Egg</a>
            <a class="list-group-item " javascript:void(0)><span><input id="eggless_cake" type="radio" name="eggless" value="true"></span><label for="#eggless_cake">&nbsp;&nbsp;&nbsp;</label>Eggless</a>
          </div>

          <button type="submit" id= "applyFiltersBtn" class="btn btn-outline-danger" name="button" value="submit"><i class="fa fa-sliders"></i>&nbsp;&nbsp;Apply filters</button>
        </form>

      </div> -->
      <!--========Filters ends==================-->

    </div>
<!--====================cake category sidebar ends==================-->
