<!--=====================USP cards starts=============================-->
<div class="container" id="pop_pdt_seg">
<div class="page-header"  id="pop_pdt">
  <h2 id="">Trending & popular products</h2>
</div>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-4">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt1">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price

                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt2">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt3">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-3 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img">
                    <img class="img-fluid pop_pdt_img" src="img/cake9.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                    </div>
                </div>
            </div>-->

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-4">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt4">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt5">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt6">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-3 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img">
                    <img class="img-fluid pop_pdt_img" src="img/cake28.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                    </div>
                </div>
            </div>-->

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

            <div class="col-md-4">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt7">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt8">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img" id="pop_pdt9">
                    <img class="img-fluid pop_pdt_img" src="img/cake18.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name <br>
                          Price
                      </div>
                      <button class="btn btn-sm add_pop_pdt_to_cart">Add to cart</button>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-3 hidden-sm-down">
                <div class="card">
                  <div class="plp-pdt_img">
                    <img class="img-fluid pop_pdt_img" src="img/cake16.jpg" alt="Card image cap">
                  </div>

                    <div class="overlay">
                      <div class="overlay_text">
                          Cake Name<br>
                          Price
                      </div>
                    </div>
                </div>
            </div>-->

        </div>
        <!--/.Third slide-->

    </div>
    <!--/.Slides-->
    <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<!--/.Carousel Wrapper-->
</div>
<!--======================USP cards ends===============================-->
