<!--===================Footer start============================-->
  <footer class="container-fluid">
    <div class="container-fluid" id="footer_container">

    <div class="row">
      <div class="col-sm-3">
        <h1 class="display-4" id="footer_oheo">Redgini</h1>
        <p id="footer_lines">The great cakes and pastries are about making your taste buds do that happy dance. A spin, a twirl and a pirouette. At Redgini, we believe a great taste and quality is one that's been made with oodles of love by our products. It's all about recreating flavours and creating recipes that are drool-worthy and memorable</p>
      </div>

      <div class="col-sm-5">
        <div class="row">
        <div class="col-sm-6">
        <h6 id="footer_cat_head">Categories</h6>
        <hr style="background-color:white">
        <ul  class="list-unstyled" id="categories_footer">
          <li><a href="#">Chocolate</a></li>
          <li><a href="#">Vanilla</a></li>
          <li><a href="#">Pineapple</a></li>
          <li><a href="#">Strawberry</a></li>
          <li><a href="#">Mixed fruit</a></li>
          <li><a href="#">New releases</a></li>
        </ul>
        </div>
        <div class="col-sm-6">
        <h6 id="footer_links_head">Useful links</h6>
        <hr style="background-color:white">
        <ul class="list-unstyled" class="unstyled" id="links_footer">
          <li><a href="#aboutus">About us</a></li>
          <li><a href="#contactus">Contact us</a></li>
          <li><a href="policies.html">Privacy policies</a></li>
          <li><a href="policies.html">Disclaimer</a></li>
          <li><a href="policies.html">Terms & conditions</a></li>
          <li><a href="policies.html">Privacy policies</a></li>
        </ul>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
      <h6 id="footer_mail_head">Support & Enquiry</h6>
      <hr style="background-color:white">
      <i class="fa fa-1x fa-envelope" aria-hidden="true" style="color:white"></i>
      <a id="footer_mail_link" href="">support@redgini.com</a>
      <br><br>
      <i class="fa fa-1x fa-phone" aria-hidden="true"  style="color:white"></i>
      <a id="footer_phone_link" href="">+91 7722054674</a>
      <br>
      <br>
      <a href="https://www.facebook.com/Redgini.Store"><button id="facebook_btn" class="btn">Visit us on Facebook</button></a>
      </div>

    </div>
  </div>

</footer>

<!--===================Footer end============================-->
