<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Redgini | love in every bite</title>

	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<%= specific_css_file_link %>
  <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
